main.character-main__container {
	--max-section-width: 960px;

	display: flex;
	flex-direction: column;
	width: 100%;

	section.comic-section {
		display: flex;
		width: 100%;
		max-width: var(--max-section-width);
		margin: 0 auto;
		padding: var(--margin-xl4) 0px;
		gap: var(--gap-l);
	}
}
