.comic-section {
	display: flex;
	flex-direction: column;
}
.comic-section h2 {
	font-weight: 700;
}
.comic-section .comic-list {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	gap: var(--gap-md);
	padding-bottom: var(--padding-l);
}
